@charset "UTF-8";

/* This was made by Elijah Butts on May, 8 2019s */

/*fonts */

body {
	margin: 0;
	padding: 0;
	font-size: 19px;
    font-family: Georgia, Times, Times, Times;
	line-height: 1.6em;
	color: #FFFFFF;
	background: #EECDA3;  
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  
    background: linear-gradient(to right, #EF629F, #EECDA3); 

	padding: 0 40px;
}


/* image cetering */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* texts*/

p, li, td {
	letter-spacing: 0.1em;
	color: #494949;
	padding: 0 50px;

}
h1 {
	font-size: 30px;
	padding: 0 50px;
	font-variant: large-caps;
	letter-spacing: .5em;
	line-height: 3em;
     border-radius: 10px;
}
h2 {
	font-size: 30px;
	padding: 0 50px;
	font-variant: large-caps;
	letter-spacing: 0.5em;
	background-color: #494949;
     border-radius: 10px;
}
h3 {
	font-size: 29px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #494949;
     border-radius: 5px;
	padding: 0 50px;
	font-variant: large-caps;
	font-style: italic;
}


/* links */

a:link {
	font-weight: bold;
	color: #494949;
	text-decoration: underline;
}
a:visited {
	font-weight: bold;
	color: #494949;
	text-decoration: underline;
}
a:hover {
	color: #ff9068;
}


/* borders */

hr {
	border: solid #494949 5px;
     border-radius: 5px;
}

img {
	border: solid #494949 2px;
     border-radius: 5px;

}
iframe {
	border: solid #494949 5px;
     border-radius: 5px;
	padding: 8px;
	margin: 8px;
}

/* tables */

table {
	border: ridge  #494949 5px;
}
td {
	padding: 8px;
	border: ridge  #494949 8px;
}
th {
	font-weight: bold;
	background-color: #494949;
	text-align: center;
	padding: 8px;
	border: ridge  #494949 5px;
}
/* Div Styles */

#container {
		width: 1000px;
		margin: 0 auto;
		border:  2px round #fff;
		background-color: #EECDA3;  
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  
    background: linear-gradient(to right, #EF629F, #EECDA3); 
		overflow: hidden;
}
#header{
	width: 100%;
	background-color: #EECDA3;  
   background-color: #EECDA3;  
    background: -webkit-linear-gradient(to right, #EECDA3, #EF629F);  
    background: linear-gradient(to right, #EECDA3, #EF629F);
				border-bottom: 2px dashed #494949; 
}
#content{
	width: 700px;
	float: left;
	padding-bottom: 40px;
	
}
#footer{
		width: 100%;
		background-color: #EECDA3;  
    background: -webkit-linear-gradient(to right, #EECDA3, #EF629F);  
    background: linear-gradient(to right, #EECDA3, #EF629F);
				border-top: 2px dashed #494949;
				padding: 40px 0;
	
}




#sidebar{
	width:  300px;
	float: left;
	margin-top: 50px;
	margin-right: 20px;
	border-radius: 12px;
}


#sidebar p{
padding: 20px;
border:  2px solid #494949;
border-radius: 10px;
margin-right: 20px;
margin-left: 20px;
	
}










